# VSCode & misc
*.code-workspace
.vscode
static/.DS_Store
static/img/.DS_Store
static/img/**/.DS_Store
schemas/.DS_Store

# Dependencies
node_modules

# Artifacts
.docusaurus
docs/api-reference/*
build
partials/transaction-search-parameters
.env

# CORS test files created by generate.js
corstests.js
cors_failed.txt