@media (max-width: 996px) {
  [data-theme="dark"] .menu__link.menu__link--sublist::after,
  [data-theme="dark"] .clean-btn.menu__caret::before,
  [data-theme="light"] .menu__link.menu__link--sublist::after,
  [data-theme="light"] .clean-btn.menu__caret::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(255,255,255,0.7)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>') !important;
    filter: none !important;
  }
}

.menu__link--active {
  font-weight: bold;
}
