.table-of-contents__link,
.table-of-contents__link:hover,
.table-of-contents__link--active {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--ifm-link-color);
}

.table-of-contents__link:hover,
.table-of-contents__link--active {
  font-weight: bold;
}
