.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  letter-spacing: 0.08rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 10px 10px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--ifm-color-emphasis-300);
  color: var(--ifm-color-content);
  font-size: var(--ifm-code-font-size);
}

.Header[data-status="SUCCESS"] {
  background-color: var(--ifm-color-success-lightest);
}

.Header[data-status="ERROR"] {
  background-color: var(--ifm-color-danger-lightest);
}

.Header[data-status="LOADING"] {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.Actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Actions button {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-weight: 500;
  height: 32px;
  border-radius: 16px;
  border-color: #f6f8fb;
  border-style: solid;
  background-color: #f6f8fb;
  color: #000;
}

[data-theme="light"] .Actions button:hover {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-weight: 500;
  height: 32px;
  border-radius: 16px;
  border-color: #0c3f5c;
  border-style: solid;
  background-color: #f6f8fb;
  cursor: pointer;
}

[data-theme="dark"] .Actions button:hover {
  display: flex;
  gap: 3px;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-weight: 500;
  height: 32px;
  border-radius: 16px;
  border-color: var(--ifm-color-emphasis-100);
  border-style: solid;
  background-color: #f6f8fb;
  cursor: pointer;
}

.Actions button svg {
  width: 1.1rem;
}

.Container {
  margin-bottom: 20px;
  line-height: 1.4rem;
  max-height: 400px;
  border-radius: 0 0 10px 10px;
  overflow: auto !important;
}

.Editor {
  box-sizing: "border-box";
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
  counter-reset: line;
}

.Editor > * {
  padding-left: 3rem !important;
  white-space: pre !important;
  overflow: visible !important;
  word-break: break-all !important;
}

.Editor > textarea {
  overflow: hidden !important;
}

.Line::before {
  counter-increment: line;
  content: counter(line);
  position: absolute;
  width: 2rem;
  left: 0;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  color: var(--ifm-color-emphasis-400);
}

.Code {
  text-align: left;
  counter-reset: line;
}
